.principal {
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5480567226890756) 59%) , url("../assets/img/netflix.jpeg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    height: 100vh;
    position: relative;
}